@page
@model restouran.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Time" class="control-label"></label>
                <input asp-for="Order.Time" class="form-control" />
                <span asp-validation-for="Order.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CustomersName" class="control-label"></label>
                <input asp-for="Order.CustomersName" class="form-control" />
                <span asp-validation-for="Order.CustomersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Phone" class="control-label"></label>
                <input asp-for="Order.Phone" class="form-control" />
                <span asp-validation-for="Order.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Cost" class="control-label"></label>
                <input asp-for="Order.Cost" class="form-control" />
                <span asp-validation-for="Order.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Check" class="control-label"></label>
                <input asp-for="Order.Check" class="form-control" />
                <span asp-validation-for="Order.Check" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CustomerId" class="control-label"></label>
                <select asp-for="Order.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.DishCode1" class="control-label"></label>
                <select asp-for="Order.DishCode1" class ="form-control" asp-items="ViewBag.DishCode1"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.DishCode2" class="control-label"></label>
                <select asp-for="Order.DishCode2" class ="form-control" asp-items="ViewBag.DishCode2"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.DishCode3" class="control-label"></label>
                <select asp-for="Order.DishCode3" class ="form-control" asp-items="ViewBag.DishCode3"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
